.light-square{background-color: rgb(255, 195, 140);background-size: contain;}
.dark-square{background-color: rgb(124, 16, 16);background-size: contain;}



.board{
    height: calc(100vw - 2rem);
    width: calc(100vw - 2rem);
}

@media  screen and (orientation: landscape) {
.board{
    height: calc(100vh - 2rem);
    width: calc(100vh - 2rem);
}
    
}