.light-square{background-color: rgb(255, 195, 140);background-size: contain;}
.dark-square{background-color: rgb(124, 16, 16);background-size: contain;}

.highlight{
    outline: 5px solid lime;
    outline-offset: -5px;
}